<!DOCTYPE html>
<html>
<head>
  <title>Zendaway</title>
 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rubik">
</head>

<body>
  <div id="header">
    <%= link_to(image_tag('logo.png'), {controller: '/home', action: :index}, id: 'logo', 'data-no-turbolink' => true) %>
    <% if current_user.nil? %>
    <%= link_to '<i class="fa fa-facebook-square" aria-hidden="true" style="margin-right:2px"></i>    SIGN IN'.html_safe, omniauth_authorize_path(:user, :facebook), id: 'register' %>
    <% end %>
  </div>

<%= yield %>

</body>
</html>
